@import '../../variables.scss';

footer {
	background-color: darken($color: $backgroundSecondary, $amount: 15%);
	color: darken($color: $textColor, $amount: 30%);
	text-align: center;
	padding: 1em;
}
